.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: aliceblue;
    /* transition: transform 1s ease-in 2s; */
    animation: traslacion 5s ease-in infinite;

}

.padre:hover .hijo {
    /* transform: translateX(100%);
    background-color: blueviolet; */
    animation-play-state: paused;
}

@keyframes traslacion {
    0% {
        background-color: red;
        transform: translateX(0%) translateY(0%);
    }    
    25% {
        background-color: brown;
        transform: translateX(100%) translateY(0%);
    }
    50%{
        background-color: orangered;
        transform: translateX(100%) translateY(100%);
    }
    75% {
        background-color: orange;
        transform: translateX(0%) translateY(100%);
    }
    100% {
        background-color: red;
        transform: translateX(0%) translateY(0%);
    }
}


